@model Organization

<form method="post">

    <div class="p-4 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Desc"></label>
        <textarea asp-for="Desc" class="form-control" rows="2" placeholder="Description of the Organization"></textarea>
        <span asp-validation-for="Desc" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"><</span>
    </div>
    <div class="mb-3">
        <label asp-for="Address"></label>
        <textarea asp-for="Address" class="form-control" rows="2" placeholder="Description of the Organization"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
</form>